@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700');

body{
    background: #e6e6e6;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 0;
    margin: 0;
    color: #161621;
    strong{
        font-weight: bold;
    }
}


.btn{
    padding: 17px 40px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    border: 2px solid;
    background-color: transparent;
    font-weight: 100;
    transition: all .2s ease-in;
    cursor: pointer;
    text-decoration: none;

    &.btn-primary{
        border: 2px solid #00DAE5;
        color: #fff;
        background-color: #1F7277;        
        font-weight: bold;

        &:hover{
            background-color: #278086;
        }
    }
}
.navbar{
    position: absolute;
    width: 100%;
    top: 24px;
    left: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-css{
        margin-left: 40px;
    }

    .menu{
        a{
            font-size: 30px;
            color: #fff;
            letter-spacing: 7px;
            text-decoration: none;
            margin-right: 20px;
            transition: all .2s ease-in;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.logo-css{
    display: flex;

    .letter-g{
        width: 115px;
        height: 115px;
        position: relative;
        img{
            position: absolute;
            width: 80px;
            top: 104px;
            transform: rotate(163deg);
            right: 16px;
        }

        .circle{
            width: 60px;
            height: 60px;
            border: 20px solid #00DAE5;
            border-radius: 50%;
        }
        .trapezoid{
            height: 0px;
            width: 23px;
            position: absolute;
            top: 25px;
            right: 12px;
            transform: rotate(240deg);
            border-bottom: 25px solid #262d3b;
            border-left: 5px solid transparent;
            border-right: 3px solid transparent;
        }
        .rectangle{
            width: 36px;
            height: 15px;
            background-color: #00DAE5;
            position: absolute;
            top: 48px;
            right: 17px;
            border-bottom-right-radius: 15px;
    
        }
        .half-left-circle{
            border-bottom-left-radius: 100px;
            border-top-left-radius: 100px;
            background: rgba(24, 136, 157, 0.84);
            width: 50px;
            height: 99px;
            position: absolute;
            top: 0;
            left: 1px;
        }
    }


    .letter-e-one{
        width: 80px;
        height: 105px;
        position: relative;

        .rectangle-one{
            width: 60px;
            height: 20px;
            background: rgba(24, 136, 157, 0.84);
            position: absolute;
            top: 5px;
            z-index: 1;
        }

        .rectangle-two{
            width: 40px;
            height: 20px;
            background: rgba(24, 136, 157, 0.84);
            position: absolute;
            top: 43px;
            z-index: 1;
        }

        .rectangle-three{
            width: 60px;
            height: 20px;
            background: rgba(24, 136, 157, 0.84);
            position: absolute;
            bottom: 5px;
            z-index: 1;
        }
        .rectangle-vertical{
            width: 20px;
            height: 95px;
            background: #00DAE5;
            position: absolute;
            top: 5px;
            z-index: 0;
        }
    }

    .letter-e-two{
        width: 80px;
        height: 105px;
        position: relative;
        .rectangle-one{
            width: 60px;
            height: 20px;
            background: rgba(24, 136, 157, 0.84);
            position: absolute;
            top: 5px;
            left: 0px;
            z-index: 1;
        }
        .rectangle-two{
            width: 60px;
            height: 20px;
            background: #00DAE5;
            position: absolute;
            top: 43px;
            left: 0px;
            z-index: 1;
        }
        .rectangle-three{
            width: 60px;
            height: 20px;
            background: rgba(24, 136, 157, 0.84);
            position: absolute;
            bottom: 5px;
            left: 0px;
            z-index: 1;
        }
    
    }

    .letter-k{
        width: 85px;
        height: 107px;
        position: relative;
        .rectangle-vertical{
            width: 35px;
            height: 97px;            
            background: #00DAE5;            
            position: absolute;            
            top: 5px;            
            z-index: 0;
        }
        .triangle-one{
            position: absolute;
            width: 0;            
            height: 0;            
            border-left: 35px solid transparent;            
            border-right: 35px solid transparent;            
            border-top: 50px solid rgba(24, 136, 157, 0.84);            
            top: 4px;            
            z-index: 100;         
            left: 0;
        }
        .triangle-two{
            position: absolute;
            bottom: 5px;            
            width: 0;            
            height: 0;            
            border-left: 35px solid transparent;            
            border-right: 35px solid transparent;            
            border-bottom: 50px solid rgba(24, 136, 157, 0.84);            
            z-index: 100;
        }    
    }
    .letter-t{
        width: 90px;
        height: 140px;
        position: relative;
        .rectangle-one{
            width: 80px;
            height: 20px;            
            background: rgba(24, 136, 157, 0.84);            
            position: absolute;           
            top: 5px;            
            left: 0px;           
            z-index: 1;
        }
        .rectangle-vertical{
            width: 25px;
            height: 99px;            
            background: #00DAE5;            
            position: absolute;            
            top: 5px;            
            left: 27px;            
            z-index: 0;
    
        }
    
    
    }

    .letter-s{
        width: 125px;
        height: 104px;
        position: relative;
        .half-left-circle{
            border-bottom-left-radius: 100px;
            border-top-left-radius: 100px;            
            background: #00DAE5;            
            width: 98px;            
            height: 75px;            
            position: absolute;            
            top: 0;            
            left: 1px;
        }
        .half-right-circle{
            border-bottom-right-radius: 100px;
            border-top-right-radius: 100px;            
            background: rgba(24, 136, 157, 0.84);            
            width: 100px;            
            height: 70px;            
            position: absolute;            
            top: 32px;            
            left: 1px;
        }
    }

}


.section-header{
    background: url("../img/bg_pattern.gif");
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    .boxes{
        position: relative;
        width: 35%;
        height: 440px;

        .box-white{
            width: 87%;
            height: 403px;
            background: transparent;
            position: absolute;
            top: -7px;
            left: 68px;
            z-index: 0;           
            border: 1px solid #fff;
        }
        .box-green{
            width: 85%;
            height: 410px;
            background: #54ADB1;
            position: absolute;
            right: -80px;
            top: 20px;

            h1{
                font-size: 80px;
                text-transform: uppercase;
                letter-spacing: 9px;
                text-align: center;
                margin-bottom: 50px;
            }
            p{
                font-size: 49px;
                text-align: center;
                letter-spacing: 1px;
                width: 90%;
                margin: 0 auto;
            }
        }
    }
    .shirts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35%;
        img{
            width: 310px;
            height: 340px;
        }
    }
}


@media (max-width: 990px) {

    .section-header{
        .boxes{
            .box-white{
                width: 100%;
            }
            .box-green{
                width: 100%;
            }
        }

    }
}
@media (max-width: 768px) {
    .section-header{
        flex-direction: column;
        .boxes{
            width: 90%;
            margin-top: 100px;
            .box-white{
                width: 100%;
                left: 0;
            }
            .box-green{
                right: 12px;
                width: 90%;
            }
        }

        .shirts{
            width: 90%;
        }

    }
}