@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700');

body{
    background: #e6e6e6;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    margin: 0;
    color: #272830;
    strong{
        font-weight: bold;
    }
}


.btn{
    padding: 17px 40px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 6px;
    border: 2px solid;
    background-color: transparent;
    font-weight: 100;
    transition: all .2s ease-in;
    cursor: pointer;
    text-decoration: none;

    &.btn-primary{
        border: 2px solid #00DAE5;
        color: #272830;
        background: #007991;
        background: -webkit-linear-gradient(to left, #007991, #78ffd6);
        background: linear-gradient(to left, #007991, #78ffd6);
        border: 1px solid #00DAE5;        
        font-weight: bold;

        &:hover{
            background-color: #278086;
        }
    }

    &.btn-dark{
        background: #141e30; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #141e30, #243b55); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color:#fff;
    }
}
.navbar{
    position: absolute;
    width: 100%;
    top: 24px;
    left: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-css{
        margin-left: 40px;
    }

    .menu{
        a{
            font-size: 30px;
            color: #fff;
            letter-spacing: 7px;
            text-decoration: none;
            margin-right: 20px;
            transition: all .2s ease-in;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.logo-css{
    display: flex;

    .letter-g{
        width: 115px;
        height: 115px;
        position: relative;
        img{
            position: absolute;
            width: 80px;
            top: 104px;
            transform: rotate(163deg);
            right: 16px;
        }

        .circle{
            width: 60px;
            height: 60px;
            border: 20px solid #00DAE5;
            border-radius: 50%;
        }
        .trapezoid{
            height: 0px;
            width: 23px;
            position: absolute;
            top: 25px;
            right: 12px;
            transform: rotate(240deg);
            border-bottom: 25px solid #272830;
            border-left: 5px solid transparent;
            border-right: 3px solid transparent;
        }
        .rectangle{
            width: 36px;
            height: 15px;
            background-color: #00DAE5;
            position: absolute;
            top: 48px;
            right: 17px;
            border-bottom-right-radius: 15px;
    
        }
        .half-left-circle{
            border-bottom-left-radius: 100px;
            border-top-left-radius: 100px;
            background: rgba(24, 136, 157, 0.84);
            width: 50px;
            height: 99px;
            position: absolute;
            top: 0;
            left: 1px;
        }
    }


    .letter-e-one{
        width: 80px;
        height: 105px;
        position: relative;

        .rectangle-one{
            width: 60px;
            height: 20px;
            background: rgba(24, 136, 157, 0.84);
            position: absolute;
            top: 5px;
            z-index: 1;
        }

        .rectangle-two{
            width: 40px;
            height: 20px;
            background: rgba(24, 136, 157, 0.84);
            position: absolute;
            top: 43px;
            z-index: 1;
        }

        .rectangle-three{
            width: 60px;
            height: 20px;
            background: rgba(24, 136, 157, 0.84);
            position: absolute;
            bottom: 5px;
            z-index: 1;
        }
        .rectangle-vertical{
            width: 20px;
            height: 95px;
            background: #00DAE5;
            position: absolute;
            top: 5px;
            z-index: 0;
        }
    }

    .letter-e-two{
        width: 80px;
        height: 105px;
        position: relative;
        .rectangle-one{
            width: 60px;
            height: 20px;
            background: rgba(24, 136, 157, 0.84);
            position: absolute;
            top: 5px;
            left: 0px;
            z-index: 1;
        }
        .rectangle-two{
            width: 60px;
            height: 20px;
            background: #00DAE5;
            position: absolute;
            top: 43px;
            left: 0px;
            z-index: 1;
        }
        .rectangle-three{
            width: 60px;
            height: 20px;
            background: rgba(24, 136, 157, 0.84);
            position: absolute;
            bottom: 5px;
            left: 0px;
            z-index: 1;
        }
    
    }

    .letter-k{
        width: 85px;
        height: 107px;
        position: relative;
        .rectangle-vertical{
            width: 35px;
            height: 97px;            
            background: #00DAE5;            
            position: absolute;            
            top: 5px;            
            z-index: 0;
        }
        .triangle-one{
            position: absolute;
            width: 0;            
            height: 0;            
            border-left: 35px solid transparent;            
            border-right: 35px solid transparent;            
            border-top: 50px solid rgba(24, 136, 157, 0.84);            
            top: 4px;            
            z-index: 100;         
            left: 0;
        }
        .triangle-two{
            position: absolute;
            bottom: 5px;            
            width: 0;            
            height: 0;            
            border-left: 35px solid transparent;            
            border-right: 35px solid transparent;            
            border-bottom: 50px solid rgba(24, 136, 157, 0.84);            
            z-index: 100;
        }    
    }
    .letter-t{
        width: 90px;
        height: 140px;
        position: relative;
        .rectangle-one{
            width: 80px;
            height: 20px;            
            background: rgba(24, 136, 157, 0.84);            
            position: absolute;           
            top: 5px;            
            left: 0px;           
            z-index: 1;
        }
        .rectangle-vertical{
            width: 25px;
            height: 99px;            
            background: #00DAE5;            
            position: absolute;            
            top: 5px;            
            left: 27px;            
            z-index: 0;
    
        }
    
    
    }

    .letter-s{
        width: 125px;
        height: 104px;
        position: relative;
        .half-left-circle{
            border-bottom-left-radius: 100px;
            border-top-left-radius: 100px;            
            background: #00DAE5;            
            width: 98px;            
            height: 75px;            
            position: absolute;            
            top: 0;            
            left: 1px;
        }
        .half-right-circle{
            border-bottom-right-radius: 100px;
            border-top-right-radius: 100px;            
            background: rgba(24, 136, 157, 0.84);            
            width: 100px;            
            height: 70px;            
            position: absolute;            
            top: 32px;            
            left: 1px;
        }
    }

}


.section-header{
    background: url("../img/bg_pattern.gif");
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 220px;
    .boxes{
        position: relative;
        width: 35%;
        height: 440px;

        .box-white{
            width: 87%;
            height: 403px;
            background: transparent;
            position: absolute;
            top: -7px;
            left: 68px;
            z-index: 0;           
            border: 1px solid #fff;
        }
        .box-green{
            width: 85%;
            height: 410px;
            background: #007991;
            background: -webkit-linear-gradient(to right, #007991, #78ffd6);
            background: linear-gradient(to right, #007991, #78ffd6);
            border: 1px solid #00DAE5;
            position: absolute;
            right: -80px;
            top: 20px;

            h1{
                font-size: 63px;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 50px;
                color: #272830;
            }
            p{
                font-size: 49px;
                text-align: center;
                letter-spacing: 1px;
                width: 90%;
                margin: 0 auto;
                color: #272830;
            }
        }
    }
    .shirts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35%;
        img{
            width: 100%;
            height: 430px;
        }
    }
}

.section-gallery{
    background: url("../img/gray-pattern.png");
    min-height: 55vh;
    position: relative;
    z-index: 100000000000;
    padding-bottom: 220px;
    &:before{
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 345px;
        top: -136px;
        -webkit-transform: skewY(-8deg);
        transform: skewY(-8deg);      
        background: url("../img/gray-pattern.png");
    }

    .content{
        padding: 10px 55px;
        text-align: center;
        max-width: 1400px;        
        margin: 0 auto;       
        box-sizing: border-box;
        .title{
            *{
                font-size: 46px;
                margin: 0;
            }
        }

        .gallery{
            .image{
                img{
                    width: 260px;
                }
            }
        }

        .btn{
            margin-top: 20px;
            width: 100%;
            max-width: 300px;
        }
    }
}

.section-tracking{
    background: url("../img/bg_pattern.gif");
    position: relative;
    z-index: 100000000000;
    padding-bottom: 225px;

    &:before{
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 415px;
        top: -136px;
        -webkit-transform: skewY(-8deg);       
        transform: skewY(6deg);
        background: url("../img/bg_pattern.gif");
    }

    .content{
        padding: 0 40px;
        text-align: center;

        .title{
            *{
                color: #fff;
                font-size: 41px;
            }
        }

        .search{
            input{
                width: 220px;
                padding: 10px;
                font-size: 25px;
                text-align: center;
                border: 1px solid;
                box-shadow: none;
                letter-spacing: 5px;
                box-sizing: border-box;
            }
        }

        .btn{
            margin-top: 20px;
            min-width: 220px;
        }
    }

}


.section-contact{
    background: url("../img/gray-pattern.png");
    position: relative;
    z-index: 100000000000;
    padding-bottom: 20px;
    &:before{
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 345px;
        top: -85px;
        -webkit-transform: skewY(-6deg);     
        transform: skewY(-6deg);
        background: url("../img/gray-pattern.png");
    }

    .content{
        padding: 10px 55px;
        text-align: center;
        max-width: 980px;
        margin: 0 auto;
        box-sizing: border-box;      
        width: 90%;
        .title{
            h3{
                font-size: 37px;
                text-align: center;
            }
            p{
                font-size: 22px;
                width: 100%;
                margin: 0 auto;
                max-width: 470px;
            }
        }

        .subscribe{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;

            input{
                padding: 15px 10px;
                width: 264px;
                box-sizing: border-box;
                margin-right: 10px;
                font-size: 18px;
            }
        }
    }
}
.ws-chat{
    background: #1EBF5A;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 20px;
    font-size: 37px;
    color: #fff;
    cursor: pointer;
    z-index: 10000000000;
    font-weight: bold;
}
footer{
    background: url("../img/bg_pattern.gif");
    padding: 56px 56px 20px 56px;
    color: #fff;

    .quote{
        width: 90%;
        max-width: 801px;
        text-align: center;
        margin: 0 auto;
        *{
            font-size: 25px;
            font-weight: 100;
            font-style: italic;
        }
    }
    .socials{
        text-align: center;
        a{
            color: #fff;
            font-size: 25px;
            margin-right: 10px;
            text-decoration: none;
        }
    }

    .powered{
        text-align: center;
        margin-top: 47px;
        p{
            font-weight: 100;
        }
    }
}

@media (max-width: 990px) {

    .section-header{
        .boxes{
            .box-white{
                width: 100%;
            }
            .box-green{
                width: 100%;
            }
        }

    }
}
@media (max-width: 768px) {
    .section-header{
        flex-direction: column;
        .boxes{
            width: 90%;
            margin-top: 190px;
            .box-white{
                width: 100%;
                left: 0;
            }
            .box-green{
                right: 12px;
                width: 90%;
                h1{
                    font-size: 49px;
                }
                p{
                    font-size: 35px;
                }
            }
        }

        .shirts{
            width: 90%;
        }

    }

    .navbar{
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .menu{
            display: flex;
            flex-direction: column;
            a{
                margin-bottom: 9px;
                font-size: 22px;
                text-align: center;
            }
        }
    }


    .section-contact{
        .content{
            padding: 10px 10px;
            .title{
                h3{
                    font-size: 23px;
                    text-align: center;
                }
                p{
                    font-size: 18px;
                    width: 100%;
                    margin: 0 auto;
                    max-width: 470px;
                }
            }

            .subscribe{
                flex-direction: column;

                input{
                    margin-bottom: 10px;
                    margin-right: 0;
                }
            }
        }
    }

    
}
@media (max-width: 520px) {
    .section-gallery{
        .content{
            .gallery{
                .image{
                    img{
                        width: 220px;
                    }
                }
            }
        }
    }
    
}